<ion-view view-title="Your Foods">
  <ion-content style="background-color: #444">
        <div class="card padding">
          Total Calorie Amount : {{totalCalories}}
        </div>
       <ion-list>
      <ion-item ng-repeat="food in data.foods" class="item item-button-right">
          
        <h4>Food Name: {{ food.mytitle }}</h4>
          <br />
        <h4>Calorie Amount: {{ food.calories }} </h4>
        
        
            <button class="button button-small button-assertive" ng-click="deleteFood(food)"> 
            Remove Entry
            </button>
       
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
